@import '../../styles/vars.scss';

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
}

.checkbox {
    font-size: 14px !important;
    margin-bottom: 10px;
    ;
}

.input {
    width: 400px !important;
    height: 40px !important;
    font-size: 16px !important;
}

.button {
    width: 400px !important;
    height: 40px !important;
    margin-bottom: -5px;
}

.link {
    display: block;
    font-size: 16px;
}

.fogrot {
    margin-top: 5px;
    display: block;
    font-size: 16px;
}

.red {
    color: #da1818;
}

.alert {
    width: 400px;
    margin-bottom: 10px;
}

@media (max-width: $xs) {
    .form {
        width: 250px;
        height: 280px;
        padding: 20px;
    }

    .field {
        width: 220px !important;
    }

    .title {
        font-size: 20px;
    }

    .input {
        width: 220px !important;
        height: 35px !important;
    }

    .fogrot {
        display: block;
        font-size: 14px;
    }

    .button {
        width: 220px !important;
        height: 35px !important;
    }

    .link {
        display: block;
        font-size: 14px;
    }

    .alert {
        width: 220px;
    }
}