// flex classes
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

// heights and width
.h-screen {
    height: 100vh;
}

.w-400 {
    width: 400px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20x;
}

.m-30 {
    margin: 30px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20x;
}

.p-30 {
    padding: 30px;
}