.wrapper {
    padding: 0 30px;
    overflow: hidden;
}

.content {
    margin-top: 30px;

    &__item {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 25px;
    }

    &__label {
        font-size: 16px;
    }

    &__input {
        width: 200px;
        background: #fff !important;
        color: black !important;
    }

    &__editButton {
        margin-left: -27px;
    }
}

@media (max-width: 840px) {
    .content {
        margin-top: 30px;

        &__item {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;
        }

        &__editButton {
            margin-top: -70px;
            margin-left: 0;
        }
    }
}